@model IEnumerable<Qualysoft.WebShop.ForKSB.Models.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
@if (Context.Session.GetString("Cart") != null)
{
    <h1 style="text-align:center;">My Products</h1>
}
else
{
    <h1 style="text-align:center;">All Products</h1>
}
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="~/images/@item.Picture" style="width:200px;height:150px;" />
            </td>
            @if (Context.Session.GetString("Id") != null && Context.Session.GetString("Cart") == null)
            {
                <td>
                    @Html.ActionLink("AddToCart", "AddToCart", new { productId = item.Id })
                </td>
            }
            @if (Context.Session.GetString("Id") != null && Context.Session.GetString("Cart") != null)
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", "Qualysoft")
                </td>
            }
        </tr>
        }
    </tbody>
</table>
@if (Context.Session.GetString("Id") != null && Context.Session.GetString("Cart") != null)
{
    @*<form asp-action="BuyNow">
        <div class="form-control" style="display:none;">
            <input type="text" value="@Context.Session.GetString("Id")" />
        </div>*@
    <div class="form-group">
        <input type="submit" value="Buy NOW" onclick="popup()" class="btn btn-default" />
    </div>
    @*</form>*@
}

@*
    <script>
        function popup() {
            var orderNo = Math.floor((Math.random() * 100000) + 1);
            alert("Order number " + orderNo + " GENERATED!!!");
        }
    </script>
*@

    <script>
        function popup() {
            console.log(document.location.origin + '@Url.Action("Purchase", "Qualysoft")');
            var path = document.location.origin + '@Url.Action("Purchase", "Qualysoft")';
            window.location.href = path;
    }
    </script>